<h3 class="titre">Creation d'un nouvel projet</h3>
<div class="form">
<form class="form-horizontal form-material" [formGroup]="creatForm" (ngSubmit)="create()">
<span class="p-float-label">
  <input id="float-input" name="title" formControlName="title" type="text" pInputText>
  <label for="float-input">Titre</label>
  <!--<div *ngIf="form.title.touched ">
    <small *ngIf="form.title.errors?.required" class="text-danger">Firstname is required<br></small>
    <small *ngIf="form.title.errors?.minlength" class="text-danger">Firstname must contain two characters at least</small>
</div>-->
</span>

<span class="p-float-label">
  <textarea inputId="textarea" rows="2" style="resize: none;" cols="30" formControlName="description"  pInputTextarea></textarea>
</span>

<span class="p-float-label">
  <input id="float-input" formControlName="startDate" type="date" pInputText>
</span>
<span class="p-float-label">
  <input id="float-input" formControlName="endDate" type="date" pInputText>
</span>
<span class="p-float-label">
  <input id="float-input" formControlName="budget" type="number" pInputText>
  <label for="float-input">Budget</label>
</span>

<span class="p-float-label">
  <input id="float-input" formControlName="cost" type="number" pInputText>
  <label for="float-input">Cout</label>
</span>
<span class="p-float-label">
  <input id="float-input" formControlName="managerName" type="text" pInputText>
  <label for="float-input">Manager</label>
</span>

<span class="p-float-label">
  <p-dropdown [options]="customer" formControlName="customerId"  optionLabel="customerName" optionValue="id"></p-dropdown>
</span>
<span class="p-float-label">
  <p-dropdown [options]="status"  formControlName="statusId"  optionLabel="title" optionValue="id"></p-dropdown>
</span>

<button pButton type="submit" label="Enregistrer" class="p-button-danger"></button>
<button pButton type="submit" label="Annuler" class="p-button-success" routerLink="/">
</button>
</form>
</div>


