.p-float-label
{
  margin-bottom: 2%;
}
.form-horizontal
{
  align-content: center;
}
.form
{
  margin-left: 40%;
  margin-top: 2%;
}
.error{
  color: red;
}
.titre{
  margin-left: 39%;
  margin-top: 2%;
  color: brown;
}
.p-button-success
{
  margin-left: 2%;
}
